html, body {
    margin: 0;
    padding: 0;
    background-color: #151515;
    overflow: hidden;
}
#canvas-viewport{
    display: block;
    margin: auto;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
canvas{
    background-color: transparent;
}

#name {
    
    font-size: large;
    position: fixed;
    left: 0;
    top: 2%;
    width: 100%;
    height: 2.6em;
    text-align: center;
    color:white;
}
#roomno {
    
    font-size: medium;
    position: fixed;
    left: 0;
    top: 5%;
    width: 100%;
    height: 2.6em;
    text-align: center;
    color:white;
}
#caption {
    margin:auto;
    font-size: medium;
    position: fixed;
    top: 90%;
    width: 50%;
    left:24%;
    height: 2.6em;
    text-align: center;
    color:white;
}
    #bakul{
    position: absolute;
    top:1400px; right:-7500px;
    height:200px;
    width:200px;
    }
    #welcome{
        position: absolute;
        top:1400px; right:500px;
        height:300px;
        width:300px;
        }
   
    #arrb1{
        position: absolute;
        top:1460px; right:-14600px;
        height:150px;
        width:150px;

    }
    #arrb2{
        position: absolute;
        top:860px; right:-14700px;
        height:150px;
        width:150px;

    }
    #arrb3{
        position: absolute;
        top:860px; right:-7000px;
        height:150px;
        width:150px;

    }
    #arrb4{
        position: absolute;
        top:260px; right:-7000px;
        height:150px;
        width:150px;

    }
    #arrp1{
        position: absolute;
        top:1460px; right:-2584px;
        height:150px;
        width:150px;

    }
    #arrp2{
        position: absolute;
        top:860px; right:-2704px;
        height:150px;
        width:150px;

    }
    #arrp3{
        position: absolute;
        top:860px; right:950px;
        height:150px;
        width:150px;

    }
    #arrp4{
        position: absolute;
        top:260px; right:980px;
        height:150px;
        width:150px;

    }

#pfd{

    position: absolute;
    top:1550px; right:-1800px;
    width:250px;
    height:250px;
}

#pavani-p{
    border: 30px solid transparent;
    border-style:inset;
    border-color: whitesmoke;
    position: absolute;
    top:117px; right:20px;
    width:600px;
    height:400px;

}
#ahana-p{
    border: 30px solid transparent;
    border-style:inset;
    border-color: whitesmoke;
    position: absolute;
    top:117px; right:-1600px;
    width:600px;
    height:400px;
}
#ananya-p{
    border: 30px solid transparent;
    border-style:inset;
    border-color: whitesmoke;
    position: absolute;
    top:615px; right:-2000px;
    width:500px;
    height:500px;
}
#anjali-p{
    border: 30px solid transparent;
    border-style:inset;
    border-color: whitesmoke;
    position: absolute;
    top:715px; right:-800px;
    width:600px;
    height:400px;
}
#tanvi-p{
    border: 30px solid transparent;
    border-style:inset;
    border-color: whitesmoke;
    position: absolute;
    top:117px; right:-800px;
    width:600px;
    height:400px;
}

#logo {
    position:absolute;
    bottom:30px;
    right: 30px;
}

#bakul1{
    border: 30px solid transparent;
    border-style:inset;
    border-color: whitesmoke;
    position: absolute;
    top:1315px; right:-10500px;
    width:600px;
    height:400px;
}
#bakul3{
    border: 30px solid transparent;
    border-style:inset;
    border-color: whitesmoke;
    position: absolute;
    top:1315px; right:-12000px;
    width:600px;
    height:400px;
}

#bakul4{
    border: 30px solid transparent;
    border-style:inset;
    border-color:whitesmoke;
    position: absolute;
    top:1315px; right:-13500px;
    width:600px;
    height:400px;
}
#bakul6{
    border: 30px solid transparent;
    border-style:inset;
    border-color: whitesmoke;
    position: absolute;
    top:612px; right:-13300px;
    transform :rotate(-90deg);
    height:600px;
    width:400px;
}

#bakul7{
    border: 30px solid transparent;
    border-style:inset;
    border-color: whitesmoke;
    position: absolute;
    top:715px; right:-11000px;
    height:400px;
    width:600px;
}

#bakul2{
    border: 30px solid transparent;
    border-style:inset;
    border-color: whitesmoke;
    position: absolute;
    top:612px; right:-12100px;
    transform :rotate(-90deg);
    height:600px;
    width:400px;
}
#palash{
    border: 30px solid transparent;
    border-style:inset;
    border-color: whitesmoke;
    position: absolute;
    top:715px; right:-9500px;
    height:400px;
    width:600px;
}

#venkat{
    border: 30px solid transparent;
    border-style:inset;
    border-color: whitesmoke;
    position: absolute;
    top:715px; right:-8000px;
    height:400px;
    width:600px;
}

#sagar{
    border: 30px solid transparent;
    border-style:inset;
    border-color: whitesmoke;
    position: absolute;
    top:117px; right:-9200px;
    height:400px;
    width:600px;
}
#sanyam{
    border: 30px solid transparent;
    border-style:inset;
    border-color: whitesmoke;
    position: absolute;
    top:117px; right:-10500px;
    height:400px;
    width:600px;
}

#nikhil{
    border: 30px solid transparent;
    border-style:inset;
    border-color: whitesmoke;
    position: absolute;
    top:117px; right:-11800px;
    height:400px;
    width:600px;
}

#sid{
    border: 30px solid transparent;
    border-style:inset;
    border-color: whitesmoke;
    position: absolute;
    top:117px; right:-13000px;
    height:400px;
    width:600px;
}

#sub{
    border: 30px solid transparent;
    border-style:inset;
    border-color: whitesmoke;
    position: absolute;
    top:117px; right:-14300px;
    height:400px;
    width:600px;
}

#canvas1 {
    display: block;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
}

#player-canvas{
    position: relative;
    top:-1820px;
    display: block;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    z-index: 1;
}

#roomno {
    position: absolute;
    top: 20%;
}

#name {
    position: absolute;
    top: 20%; 
}

#reminisce-title {
    position: absolute;
    top: 10%;
    left: 27%;
}

.key {
    color: #aaffdd;
}

.button-container {
    position:fixed;
    bottom: 0%;
    left: 50%;
}

.button {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Spacing */
    padding: 8px;
    /* position:fixed;
    bottom: 15%;
    left: 50%;    bottom: 100px; */
    /* margin-top:100% */
}

.button__arrow {
    /* Transparent background */
    background-color: transparent;

    /* Size */
    height: 12px;
    width: 12px;
}

.button__arrow--up {
    /* Edges */
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    transform: translateY(25%) rotate(45deg);
}

.button__arrow--right {
    /* Edges */
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    transform: translateX(-25%) rotate(45deg);
}

.button__arrow--down {
    /* Edges */
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    transform: translateY(-25%) rotate(45deg);
}

.button__arrow--left {
    /* Edges */
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    transform: translateX(25%) rotate(45deg);
}

