html, body {
    margin: 0;
    padding: 0;
    background-color: #151515;
    overflow: hidden;
}
#canvas-viewport{
    display: block;
    margin: auto;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
canvas{
    background-color: transparent;
}

#name {
    
    font-size: large;
    position: fixed;
    left: 0;
    top: 2%;
    width: 100%;
    height: 2.6em;
    text-align: center;
    color:white;
}
#roomno {
    
    font-size: medium;
    position: fixed;
    left: 0;
    top: 5%;
    width: 100%;
    height: 2.6em;
    text-align: center;
    color:white;
}
#caption {
    margin:auto;
    font-size: medium;
    position: fixed;
    top: 90%;
    width: 50%;
    left:24%;
    height: 2.6em;
    text-align: center;
    color:white;
}


#pavani-p{

    position: absolute;
    top:177px; right:0px;
    width:600px;
    height:400px;

}
#ahana-p{
    position: absolute;
    top:177px; right:-1600px;
    width:600px;
    height:400px;
}
#ananya-p{
    position: absolute;
    top:675px; right:-2000px;
    width:500px;
    height:500px;
}
#anjali-p{
    position: absolute;
    top:775px; right:-800px;
    width:600px;
    height:400px;
}
#tanvi-p{
    position: absolute;
    top:177px; right:-800px;
    width:600px;
    height:400px;
}

#bakul1{
    position: absolute;
    top:1375px; right:-10500px;
    width:600px;
    height:400px;
}
#bakul3{
    position: absolute;
    top:1375px; right:-12000px;
    width:600px;
    height:400px;
}

#bakul4{
    position: absolute;
    top:1375px; right:-13500px;
    width:600px;
    height:400px;
}
#bakul6{
    position: absolute;
    top:672px; right:-13300px;
    transform :rotate(-90deg);
    height:600px;
    width:400px;
}

#bakul7{
    position: absolute;
    top:775px; right:-11000px;
    height:400px;
    width:600px;
}

#bakul2{
    position: absolute;
    top:672px; right:-12100px;
    transform :rotate(-90deg);
    height:600px;
    width:400px;
}
#palash{
    position: absolute;
    top:775px; right:-9500px;
    height:400px;
    width:600px;
}

#venkat{
    position: absolute;
    top:775px; right:-8000px;
    height:400px;
    width:600px;
}

#sagar{
    position: absolute;
    top:177px; right:-9000px;
    height:400px;
    width:600px;
}
#sanyam{
    position: absolute;
    top:177px; right:-10500px;
    height:400px;
    width:600px;
}

#nikhil{
    position: absolute;
    top:177px; right:-11800px;
    height:400px;
    width:600px;
}

#sid{
    position: absolute;
    top:177px; right:-13000px;
    height:400px;
    width:600px;
}

#sub{
    position: absolute;
    top:177px; right:-14300px;
    height:400px;
    width:600px;
}

#canvas1 {
    display: block;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
}

#player-canvas{
    position: relative;
    top:-1820px;
    display: block;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    z-index: 1;
}


.key {
    color: #aaffdd;
}

.button-container {
    position:fixed;
    bottom: 0%;
    left: 50%;
}

.button {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Spacing */
    padding: 8px;
    /* position:fixed;
    bottom: 15%;
    left: 50%;    bottom: 100px; */
    /* margin-top:100% */
}

.button__arrow {
    /* Transparent background */
    background-color: transparent;

    /* Size */
    height: 12px;
    width: 12px;
}

.button__arrow--up {
    /* Edges */
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    transform: translateY(25%) rotate(45deg);
}

.button__arrow--right {
    /* Edges */
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    transform: translateX(-25%) rotate(45deg);
}

.button__arrow--down {
    /* Edges */
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    transform: translateY(-25%) rotate(45deg);
}

.button__arrow--left {
    /* Edges */
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    transform: translateX(25%) rotate(45deg);
}


